/* Font Styles */


.fancy-font {
    font-family: "papyrus";
}

/* base styles */
* {
    box-sizing: border-box;
}

html, body {
    height: 100%;
}


li {
    padding: .5em 0;
}

h2 {
    color: #550000;
    text-align: center;
    text-decoration: underline;
    font-family: "papyrus";
    font-size: 2em;
}

body {
    /* margin-top: 0; */
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    /* min-height: 100vh; */
}

main {
    padding: 1em;
    flex: 1 0 auto;
    margin: auto;
}

/* class & id selectors */
#logo {
    max-height: 50px;
    max-width: 200px;
}


.main-header {
    background-color: #e12532;
    padding: 10px 0;
    border-bottom: solid 5px #f5d76e;
    text-align: center;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    color: #550000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
}
.nav-link:hover,
.nav-link:focus {
    color: #ffd700;
}

.banner {
    text-align: center;
    background: #f5d76e url("../images/zenscape.jpg") no-repeat center;
    background-size: cover;
    margin-top: 0;
}

#banner-name {
    color: #600000;
    padding: 40px 10px;
    font-size: 3em;
    font-weight: inherit;
    margin: 0 auto;
    border-bottom: solid 2px #600000;
}

.container {
    flex: 1 0 auto;
    /* width: 95%; */
    background-color: #f2f1ef;
    /* margin: auto; */

}

#biblio-heading {
    padding-bottom: 1.5em;
}

/* LIST NTH OF type STYLING */

div:nth-of-type(7n+1) {
    font-weight: bold;
    font-size: 1.5em;
    font-family: "papyrus";
    text-align: center;
    list-style-type: none;
    text-decoration: underline;
    color: #550000;
}

div:nth-of-type(n+2):nth-of-type(-n+7), div:nth-of-type(n+9):nth-of-type(-n+14), div:nth-of-type(n+16):nth-of-type(-n+21) {
	background: #008b8b;
    color: white;
    padding: 10px 0 5px 5px;
    font-style: italic;
    font-size: 1.1em;
    text-align: center;
}

div:nth-of-type(7n+7) {
    margin-bottom: 1em;
}

/* END LIST STYLING W/ NTH OF type */


.main-footer {
    background-color: #dadfe1;
    width: 100%;
    text-align: center;
    flex-shrink: 0;
} 



/* media queries */

@media (min-width: 600px) {
    .menu {
        display: flex;
        justify-content: space-between;
    }

    .nav-flex0 {
        margin: auto auto auto 1em;
    }

    .nav-flex {
        border-right: solid 1px #550000;
        padding: 1em;
    }

    main {
        display: flex;
        flex-flow: row wrap;
    }


}

@media (min-width: 980px) {
   
}