* {
    box-sizing: border-box;
    font-family: fantasy, "papyrus";
}
/* base styles */

/* class selectors */
#logo {
    max-height: 50px;
    max-width: 200px;
}

.main-header {
    background-color: #e12532;
    color: #f5d76e;
    border-bottom: solid 5px #f5d76e;
    display: block;
    text-align: center;
    padding: 10px 15px;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    color: #550000;
    text-decoration: none;
    font-weight: bold;
}

.nav-link:hover,
.nav-link:focus {
    color: #ffd700;
}


/* layout styles */

/* media queries */

@media (max-width: 576px) {


}