/* Font Styles */
* {
    font-family: fantasy;
}

.fancy-font {
    font-family: "papyrus";
}

/* base styles */
html, body {
    height: 100%;
}

ul {
    padding: .2em;
}

li {
    padding: .5em 0;
}

h2 {
    color: #550000;
}

body {
    margin-top: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    /* border: 3px solid #e12532; */
    padding: 20px;
    background-color: #f2f1ef;
}

/* class & id selectors */
#logo {
    max-height: 50px;
    max-width: 200px;
}


.main-header {
    background-color: #e12532;
    color: #f5d76e;
    border-bottom: solid 5px #f5d76e;
    /* padding: 10px 15px; */
    text-align: center;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.menu {
    list-style-type: none;
    padding: 0;
    margin: 0;
}


.nav-link {
    color: #550000;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    background-color: white;
    border-radius: 10%;
}
.nav-link:hover,
.nav-link:focus {
    color: #ffd700;
}

.banner {
    text-align: center;
    margin-top: 165px;
}
#portrait {
    height: 300px;
    width: 100%;
}
#banner-name {
    color: #600000;
}

.container {
    flex: 1 0 auto;
}

.col1 {
    border: 3px double #550000;
    background-color: #c8f7c5;
    font-family: "papyrus";
    text-align: center;
    margin: auto;
}
#quote {
    background-color: #550000;
    border: none;
    color: white;
    padding: 5px 16px;
    font-size: 1em;
    margin: 5px;
    cursor: pointer;
  }


.main-footer {
    background-color: #dadfe1;
    width: 100%;
    margin-left: 0;
    text-align: center;
    /* position: absolute;
    bottom: 0;
    left: 0; */
}



/* media queries */

@media (max-width: 576px) {


}